<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConn" connectionString="Data Source=BOBBIE_BOT\MSSQLSERVER01;Initial Catalog=D&D;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>